h1 {
    font-size: 1.7rem;

    @media screen and (min-width: 768px) {
        font-size: 2rem;
    }
}

h1, h2 {
    letter-spacing: 3px;
    line-height: normal;
}

.text-blue {
    color: var(--dana-blue);
    letter-spacing: 1.8px;
}

p {
    text-align: justify;
}

.text-highlight {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}